.wrapper{
    padding: 0vw 3vw;
    min-height: 80vh;
    font-family: wal-black;
    font-size: 8vmax;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}