.container{
    padding: 2rem 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-family: wal-black;
    text-transform: uppercase;
}

.navigation{
    display: flex;
    gap: 3vw;
}

.link{
    color: #F9DCC5;
    font-family: wal-med;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease-in .2s ;
}

.link:hover{
    color: #ffffff;
}

@media (max-width:1000px){
  .container{
    padding: 2vw 3vw;
  }
}